PORT=5000
MONGO_URI=mongodb+srv://dhariyaparmarrudra85_db_user:password@cluster0.v1khp3l.mongodb.net/?appName=Cluster0
JWT_SECRET= your jwt token
CLIENT_URL=http://localhost:5173
NODE_ENV=development
